@import 'mixin';


// Colors
$grey-color : #505050;
$white-color : #fff;
$black : #000;
$green-color : #44AF72;



// Font Family
$lato-reg: lato-regular;
$lato-bold: lato-bold;
$lato-black: lato-black;
$lato-light: lato-light;
$fira-sans-reg: fira-sans-regular;
$fira-sans-bold: fira-sans-bold;
$archivo-Black: archivo-Black;
$sf-bold: sf-bold;
$sf-compact: sf-compact;



