html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: fira-sans-regular;
  src: url(../fonts/FiraSans-Regular.ttf);
}

@font-face {
  font-family: fira-sans-bold;
  src: url(../fonts/FiraSans-Bold.ttf);
}

@font-face {
  font-family: archivo-Black;
  src: url(../fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: sf-bold;
  src: url(../fonts/sf-bold.ttf);
}

@font-face {
  font-family: sf-compact;
  src: url(../fonts/sf-compact.ttf);
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: fira-sans-regular;
  src: url(../fonts/FiraSans-Regular.ttf);
}

@font-face {
  font-family: fira-sans-bold;
  src: url(../fonts/FiraSans-Bold.ttf);
}

@font-face {
  font-family: archivo-Black;
  src: url(../fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: sf-bold;
  src: url(../fonts/sf-bold.ttf);
}

@font-face {
  font-family: sf-compact;
  src: url(../fonts/sf-compact.ttf);
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  z-index: 1;
}

.header .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .nav-content .logo {
  width: 28%;
  padding: 21px 0;
}

.header .nav-content .logo img {
  width: 100%;
}

.header .nav-content .navbar {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .nav-content .navbar ul {
  margin-bottom: 10px;
  padding: 10px 0 0;
}

.header .nav-content .navbar ul li {
  display: inline-block;
  border-right: 1px solid #505050;
  cursor: pointer;
}

.header .nav-content .navbar ul li a {
  font-size: .9rem;
  font-family: lato-regular;
  text-decoration: none;
  color: #505050;
  padding: 0 8px;
}

.header .nav-content .navbar ul li a:hover {
  color: #44AF72;
}

.header .nav-content .navbar ul li:last-child {
  border-right: none;
}

.header .nav-content .navbar ul li .btn {
  background-color: transparent;
  border: none;
  font-family: fira-sans-bold;
  color: #000;
  cursor: pointer;
}

.header .nav-content .navbar ul li .sm {
  font-size: .75rem;
}

.header .nav-content .navbar ul li .md {
  margin: 0 5px;
  font-size: .875rem;
}

.header .nav-content .navbar ul li .lg {
  font-size: 1rem;
}

.header .nav-content .navbar .nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-content .navbar .nav-top li:nth-child(n) {
  border-right: none;
}

.header .nav-content .navbar .nav-top li:nth-child(n):nth-child(4), .header .nav-content .navbar .nav-top li:nth-child(n):nth-child(5) {
  padding: 0 10px;
  border-right: 1px solid #265781;
  color: #505050;
}

.header .nav-content .navbar .nav-top li:nth-child(n):last-child button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header .nav-content .navbar .nav-top li:nth-child(n):last-child form {
  display: none;
}

.header .nav-content .navbar .nav-top li:nth-child(n) #lang {
  border: none;
}

.header .nav-content .navbar .nav-top li:nth-child(n) #lang:focus {
  outline: none;
  border: none;
}

.header .nav-content .navbar .nav-top li:nth-last-child(2) {
  margin: 0 10px;
  border-right: 1px solid #265781;
  padding: 0 10px;
}

.header .nav-content .navbar .nav-top li:nth-last-child(2) .cir {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
}

.header .nav-content .navbar .nav-top li:nth-last-child(2) .blue {
  background-color: #265781;
}

.header .nav-content .navbar .nav-top li:nth-last-child(2) .green {
  background-color: #52B27B;
  margin: 0 10px;
}

.header .nav-content .navbar .nav-top li:nth-last-child(2) .yellow {
  background-color: #F2E162;
}

.header .nav-content #menu-btn {
  background-color: #44AF72;
  color: #feea00;
  font-size: 1.25rem;
  padding: 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.header .nav-content .modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1072;
  padding: 20px;
  display: none;
}

.header .nav-content .modal-box {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -3rem auto 0;
}

.header .nav-content .modal-content {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}

.header .nav-content .modal-content .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.header .nav-content .modal-content .head .heading {
  font-size: 1.25rem;
}

.header .nav-content .modal-content .head .dismis {
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
}

.header .nav-content .modal-content .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  position: relative;
}

.header .nav-content .modal-content .form #search-input {
  width: 100%;
  height: 50px;
  padding: 10px 100px 10px 20px;
}

.header .nav-content .modal-content .form #search-btn {
  background-color: transparent;
  padding: 10px;
  border: none;
  top: 8px;
  color: #000;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
  position: relative;
}

.banner .content {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 50%;
}

.banner .content .headings {
  font-family: lato-bold;
  text-transform: uppercase;
}

.banner .content .headings h1 {
  color: #fff;
  line-height: 3rem;
  background-color: #1B7642;
  font-size: 3.5rem;
  float: left;
  padding: 10px;
}

.banner .content .headings h2 {
  clear: both;
  float: left;
  margin: 5px 0 30px;
  color: #fff;
  background-color: #0F5C30;
  font-size: 2.25rem;
  padding: 10px;
}

.banner .content .more-btn {
  display: block;
  clear: both;
  background-color: #fff;
  font-size: 1.325rem;
  font-family: lato-regular;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.banner .content .more-btn .fas {
  display: none;
}

.banner .content .more-btn:hover .fas {
  display: inline-block;
}

.banner #scrollspy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
  -webkit-transition: 1s;
  transition: 1s;
}

.banner #scrollspy .arrow {
  background-color: #1B7642;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
}

.banner #scrollspy .arrow .fa-solid {
  font-size: 2rem;
}

.manage-dev {
  padding: 80px 0 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#fff), to(#E6E6E6));
  background: linear-gradient(to bottom, #fff, #fff, #E6E6E6);
}

.manage-dev .bg-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.manage-dev .bg-txt .head {
  text-transform: uppercase;
  width: 70%;
}

.manage-dev .bg-txt .head h2 {
  color: #505050;
  font-size: 2.5rem;
  font-family: lato-black;
  text-align: center;
}

.manage-dev .bg-txt .head h2:last-child {
  text-align: right;
}

.manage-dev .bg-txt .head h1 {
  font-size: 6.5rem;
  font-family: archivo-Black;
  background: url(../img/hero-banner.png) no-repeat center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 100%;
  margin: 10px 0;
}

.manage-dev .bg-txt .mandal-logo {
  width: 30%;
}

.manage-dev .bg-txt .mandal-logo img {
  max-width: 70%;
}

.manage-dev .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
}

.manage-dev .category .hydro {
  width: 15%;
  text-align: center;
}

.manage-dev .category .hydro img {
  width: 50%;
  margin-bottom: 20px;
}

.manage-dev .category .hydro h4 {
  font-size: 1.125rem;
  color: #505050;
  font-family: lato-black;
  text-transform: uppercase;
  line-height: 25px;
}

.abt-VIDC {
  width: 100%;
  height: 512px;
  position: relative;
  margin-bottom: 80px;
}

.abt-VIDC .bg-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.abt-VIDC .bg-sec img {
  width: 30%;
}

.abt-VIDC .bg-sec .box {
  width: 70%;
  background-color: #3F3531;
}

.abt-VIDC .VIDC-info {
  width: 85%;
  position: absolute;
  height: 70%;
  top: 16%;
  left: 8%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.abt-VIDC .VIDC-info .video {
  width: 50%;
  padding: 0 15px;
}

.abt-VIDC .VIDC-info .video figure {
  width: 95%;
  cursor: pointer;
  position: relative;
}

.abt-VIDC .VIDC-info .video figure img {
  width: 100%;
  border-radius: 8px;
}

.abt-VIDC .VIDC-info .video figure figcaption {
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 5px;
  border: 2px solid #44AF72;
  border-radius: 50%;
}

.abt-VIDC .VIDC-info .video figure figcaption .fa-play {
  font-size: 2rem;
  color: #fff;
  background-color: #44AF72;
  padding: 20px;
  border-radius: 50%;
}

.abt-VIDC .VIDC-info .video .modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1072;
  padding: 20px;
  display: none;
}

.abt-VIDC .VIDC-info .video .modal-box {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -3rem auto 0;
}

.abt-VIDC .VIDC-info .video .modal-content {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}

.abt-VIDC .VIDC-info .video .modal-content .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.abt-VIDC .VIDC-info .video .modal-content .head .heading {
  font-size: 1.25rem;
}

.abt-VIDC .VIDC-info .video .modal-content .head .dismis {
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
}

.abt-VIDC .VIDC-info .video .modal .videoDisplay {
  display: block;
  margin: auto;
  width: 100%;
  height: 280px;
}

.abt-VIDC .VIDC-info .abt-info {
  width: 50%;
  padding: 0 15px;
}

.abt-VIDC .VIDC-info .abt-info h3 {
  font-size: 2.25rem;
  color: #fff;
  font-family: lato-black;
  margin-bottom: 20px;
}

.abt-VIDC .VIDC-info .abt-info p {
  color: #fff;
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: lato-regular;
  text-align: justify;
}

.abt-VIDC .VIDC-info .abt-info .more-btn {
  display: block;
  clear: both;
  background-color: #fff;
  font-size: 1.325rem;
  font-family: lato-regular;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #44AF72;
  color: #fff;
}

.abt-VIDC .VIDC-info .abt-info .more-btn .fas {
  display: none;
}

.abt-VIDC .VIDC-info .abt-info .more-btn:hover .fas {
  display: inline-block;
}

.footer {
  width: 100%;
  background: grey url(../img/bg-foot.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0 50px;
}

.footer .foot-sec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 60px;
}

.footer .foot-sec h5 {
  font-size: 1.125rem;
  color: #fff;
  font-family: lato-bold;
  margin-bottom: 20px;
}

.footer .foot-sec .subscribe-block {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
}

.footer .foot-sec .subscribe-block form {
  width: 93%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px 5px 15px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer .foot-sec .subscribe-block form input {
  color: #fff;
  font-size: 1rem;
  width: 70%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
}

.footer .foot-sec .subscribe-block form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.footer .foot-sec .subscribe-block form input:-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.footer .foot-sec .subscribe-block form input::-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.footer .foot-sec .subscribe-block form input::placeholder {
  color: #fff;
  font-size: 1rem;
}

.footer .foot-sec .subscribe-block form input:focus {
  border: none;
  outline: none;
}

.footer .foot-sec .subscribe-block form .sub-btn {
  width: 28%;
  background-color: #fff;
  font-family: sf-bold;
  font-size: 1rem;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  text-transform: uppercase;
}

.footer .foot-sec .subscribe-block form #error {
  color: #f00;
  display: block;
  margin-top: 5px;
}

.footer .foot-sec .subscribe-block .link-sec {
  width: 90%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .foot-sec .subscribe-block .link-sec .sec {
  width: 32%;
}

.footer .foot-sec .subscribe-block .link-sec .sec.about h5 {
  text-transform: uppercase;
}

.footer .foot-sec .subscribe-block .link-sec .sec ul li {
  margin-bottom: 10px;
}

.footer .foot-sec .subscribe-block .link-sec .sec ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .875rem;
  font-family: sf-compact;
  padding-bottom: 10px;
}

.footer .foot-sec .subscribe-block .link-sec .sec ul li a:hover {
  text-decoration: underline;
  color: yellow;
}

.footer .foot-sec .subscribe-block .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .foot-sec .subscribe-block .copyright h6, .footer .foot-sec .subscribe-block .copyright p {
  color: #fff;
  font-family: lato-bold;
  font-size: .875rem;
  margin-bottom: 10px;
  line-height: 1rem;
}

.footer .foot-sec .subscribe-block .copyright p .link {
  font-family: lato-regular;
  color: #fff;
  text-decoration: none;
}

.footer .foot-sec .subscribe-block .copyright p .link:hover {
  color: #feea00;
  text-decoration: underline;
}

.footer .foot-sec .subscribe-block .copyright .sec2 {
  text-align: right;
}

.footer .foot-sec .contact-block {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.footer .foot-sec .contact-block h5 {
  margin-bottom: 5px;
}

.footer .foot-sec .contact-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .foot-sec .contact-block .block div {
  margin-left: 15px;
  color: #fff;
  font-family: lato-regular;
  line-height: 20px;
}

.footer .foot-sec .contact-block .block div > p {
  color: rgba(255, 255, 255, 0.5);
}

.footer .foot-sec .contact-block .block > h5 {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 15px;
}

.footer .foot-sec .contact-block .block .social a {
  color: #fff;
  margin: 5px 5px 0 5px;
  padding: 3px;
  font-size: 1.125rem;
}

.footer .foot-sec .contact-block .block .social a:hover {
  color: yellow;
}

.footer .foot-sec .contact-block .block:nth-child(3), .footer .foot-sec .contact-block .block:nth-child(4) {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .foot-sec > .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.footer .foot-sec > .copyright h6, .footer .foot-sec > .copyright p {
  color: #fff;
  font-family: lato-bold;
  font-size: .875rem;
  margin-bottom: 10px;
  line-height: 1rem;
}

.footer .foot-sec > .copyright p .link {
  font-family: lato-regular;
  color: #fff;
  text-decoration: none;
}

.footer .foot-sec > .copyright p .link:hover {
  color: #feea00;
  text-decoration: underline;
}

.footer .foot-sec > .copyright .sec2 {
  text-align: right;
}

.scroll-top-btn {
  position: fixed;
  right: -100px;
  bottom: 20px;
  background-color: #44af72;
  padding: 10px 10px;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100000000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.scroll-top-btn .fa-solid {
  font-size: 1.375rem;
  color: #fff;
}

.scroll-top-btn.show {
  right: 20px;
}

@media screen and (max-width: 1024px) {
  .header .nav-content .navbar ul li a {
    padding: 0 6px;
  }
  .banner .content {
    bottom: 70px;
    left: 70px;
  }
  .banner .content .headings h1 {
    line-height: 2.5rem;
    font-size: 3.25rem;
  }
  .banner .content .headings h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .header .nav-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav-content .logo {
    width: 60%;
  }
  .header .nav-content .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header .nav-content .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .header .nav-content .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
    width: 75%;
  }
  .header .nav-content .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    width: 100%;
  }
  .header .nav-content .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .header .nav-content .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .header .nav-content .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .header .nav-content .modal-content .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    position: relative;
  }
  .header .nav-content .modal-content .form #search-input {
    width: 100%;
    height: 50px;
    padding: 10px 100px 10px 20px;
  }
  .header .nav-content .modal-content .form #search-btn {
    background-color: transparent;
    padding: 10px;
    border: none;
    top: 8px;
    color: #000;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .banner .content {
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 70%;
  }
  .banner .content .headings h1 {
    line-height: 2rem;
    font-size: 2.25rem;
    padding: 10px;
  }
  .banner .content .headings h2 {
    margin: 5px 0 20px;
    font-size: 2rem;
    padding: 10px;
  }
  .banner .content .more-btn {
    font-size: 1.125rem;
  }
  .manage-dev {
    padding: 50px 0;
  }
  .manage-dev .bg-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .manage-dev .bg-txt .head {
    text-transform: uppercase;
    width: 70%;
  }
  .manage-dev .bg-txt .head h2 {
    font-size: 1.625rem;
  }
  .manage-dev .bg-txt .head h1 {
    font-size: 4.5rem;
  }
  .manage-dev .category .hydro h4 {
    font-size: 1rem;
  }
  .abt-VIDC {
    min-height: 600px;
  }
  .abt-VIDC .bg-sec img {
    width: 100%;
    height: 50%;
  }
  .abt-VIDC .bg-sec .box {
    width: 100%;
    height: 60%;
  }
  .abt-VIDC .VIDC-info {
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 15px;
  }
  .abt-VIDC .VIDC-info .video {
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video figure {
    width: 100%;
    text-align: center;
  }
  .abt-VIDC .VIDC-info .video figure img {
    width: 60%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption {
    top: 45%;
    left: 45%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption .fa-play {
    font-size: 1.5rem;
    padding: 15px;
  }
  .abt-VIDC .VIDC-info .video .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .abt-VIDC .VIDC-info .video .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
  }
  .abt-VIDC .VIDC-info .video .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1.125rem;
  }
  .abt-VIDC .VIDC-info .video .modal .videoDisplay {
    width: 100%;
    height: 280px;
  }
  .abt-VIDC .VIDC-info .abt-info {
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
  }
  .abt-VIDC .VIDC-info .abt-info h3 {
    font-size: 1.625rem;
  }
  .abt-VIDC .VIDC-info .abt-info .more-btn {
    font-size: 1rem;
  }
  .footer {
    width: 100%;
    padding: 150px 0  20px;
  }
  .footer .foot-sec {
    padding: 50px  15px 0;
  }
  .footer .foot-sec h5 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .footer .foot-sec .subscribe-block {
    width: 100%;
    padding-right: 0px;
  }
  .footer .foot-sec .subscribe-block form {
    width: 100%;
    padding: 5px 10px;
  }
  .footer .foot-sec .subscribe-block form input {
    font-size: .875rem;
    padding: 5px 0;
  }
  .footer .foot-sec .subscribe-block form input::-webkit-input-placeholder {
    font-size: .875rem;
  }
  .footer .foot-sec .subscribe-block form input:-ms-input-placeholder {
    font-size: .875rem;
  }
  .footer .foot-sec .subscribe-block form input::-ms-input-placeholder {
    font-size: .875rem;
  }
  .footer .foot-sec .subscribe-block form input::placeholder {
    font-size: .875rem;
  }
  .footer .foot-sec .subscribe-block form .sub-btn {
    font-size: .875rem;
    padding: 10px 0px;
  }
  .footer .foot-sec .subscribe-block .link-sec {
    width: 100%;
    padding-bottom: 30px;
  }
  .footer .foot-sec .subscribe-block .link-sec .sec {
    width: auto;
  }
  .footer .foot-sec .subscribe-block .copyright {
    display: none;
  }
  .footer .foot-sec > .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .footer .foot-sec .contact-block {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .footer .foot-sec .contact-block .block .fas {
    font-size: 1.125rem;
  }
  .footer .foot-sec .contact-block .block div {
    margin-left: 15px;
    line-height: 25px;
  }
  .footer .foot-sec .contact-block .block > h5 {
    padding-right: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .nav-content {
    overflow-x: hidden;
  }
  .header .nav-content #menu-btn {
    background-color: #44AF72;
    color: #feea00;
    font-size: 1.25rem;
    padding: 5px 10px;
    -ms-flex-item-align: center;
        align-self: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    margin-left: auto;
  }
  .header .nav-content .logo {
    width: 60%;
  }
  .header .nav-content .navbar {
    width: 100%;
    z-index: 99;
    background-color: black;
    display: none;
    position: absolute;
    top: 100px;
    padding: 20px;
  }
  .header .nav-content .navbar ul li {
    display: block;
    margin: 0 0 15px 0;
    border-right: none;
  }
  .header .nav-content .navbar ul li a {
    color: #fff;
    padding: 0;
  }
  .header .nav-content .navbar ul li .fa-search {
    color: #265781;
    font-size: 1.25rem;
  }
  .header .nav-content .navbar ul li .sm, .header .nav-content .navbar ul li .md, .header .nav-content .navbar ul li .lg {
    color: #fff;
  }
  .header .nav-content .navbar .nav-top {
    width: 48%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .nav-content .navbar .nav-top li:nth-child(n):nth-child(4), .header .nav-content .navbar .nav-top li:nth-child(n):nth-child(5) {
    padding: 0px;
    border: none;
  }
  .header .nav-content .navbar .nav-top li:nth-child(n):nth-last-child(2) {
    margin: 0px;
    border: none;
    padding: 0 10px 0 0;
  }
  .header .nav-content .navbar .nav-top li:nth-child(n):last-child {
    margin-top: 10px;
  }
  .header .nav-content .navbar .nav-top li:nth-child(n):last-child .icon-search:before {
    content: "\e900";
    color: #fff;
  }
  .header .nav-content .navbar .nav-bot {
    width: 48%;
  }
  .header .nav-content .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .header .nav-content .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
    width: 100%;
  }
  .header .nav-content .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    width: 100%;
  }
  .header .nav-content .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .header .nav-content .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .header .nav-content .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .header .nav-content .modal-content .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    position: relative;
  }
  .header .nav-content .modal-content .form #search-input {
    width: 100%;
    height: 50px;
    padding: 10px 100px 10px 20px;
  }
  .header .nav-content .modal-content .form #search-btn {
    background-color: transparent;
    padding: 10px;
    border: none;
    top: 8px;
    color: #000;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .banner .content {
    bottom: 50px;
    left: 15px;
    width: 80%;
  }
  .banner .content .headings h1 {
    line-height: 1.5rem;
    font-size: 1.875rem;
    padding: 5px;
  }
  .banner .content .headings h2 {
    margin: 5px 0 10px;
    font-size: 1.5rem;
    padding: 5px;
  }
  .banner .content .more-btn {
    font-size: 1rem;
    padding: 8px;
  }
  .banner #scrollspy {
    margin-top: -30px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .banner #scrollspy .arrow {
    background-color: #1B7642;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #fff;
  }
  .banner #scrollspy .arrow .fa-solid {
    font-size: 1.5rem;
  }
  .manage-dev {
    padding: 30px 0;
    overflow: hidden;
  }
  .manage-dev .bg-txt .head {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .manage-dev .bg-txt .head h2 {
    font-size: 1.25rem;
    text-align: left;
  }
  .manage-dev .bg-txt .head h1 {
    font-size: 4rem;
    padding-left: 30px;
    text-align: center;
  }
  .manage-dev .bg-txt .mandal-logo {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .manage-dev .bg-txt .mandal-logo img {
    width: 30%;
  }
  .manage-dev .category {
    padding-top: 40px;
  }
  .manage-dev .category .hydro {
    width: 33%;
    margin-bottom: 15px;
  }
  .manage-dev .category .hydro h4 {
    font-size: .875rem;
    line-height: 1.125rem;
  }
  .abt-VIDC {
    width: 100%;
    margin-bottom: 10px;
    min-height: 600px;
  }
  .abt-VIDC .bg-sec {
    text-align: center;
  }
  .abt-VIDC .bg-sec img {
    width: 100%;
    height: 40%;
  }
  .abt-VIDC .bg-sec .box {
    width: 100%;
    background-color: #3F3531;
    height: 60%;
  }
  .abt-VIDC .VIDC-info {
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video {
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video figure {
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video figure img {
    width: 70%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption {
    top: 40%;
    left: 43%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption .fa-play {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .abt-VIDC .VIDC-info .video .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
  }
  .abt-VIDC .VIDC-info .video .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1rem;
  }
  .abt-VIDC .VIDC-info .video .modal .videoDisplay {
    width: 100%;
    height: 220px;
  }
  .abt-VIDC .VIDC-info .abt-info h3 {
    font-size: 1.375rem;
    margin: 10px  0;
  }
  .abt-VIDC .VIDC-info .abt-info p {
    margin-bottom: 10px;
  }
  .abt-VIDC .VIDC-info .abt-info .more-btn {
    font-size: .875rem;
    padding: 8px;
  }
}

@media screen and (max-width: 640px) {
  .footer .foot-sec {
    padding: 30px 0 0;
  }
  .footer .foot-sec .subscribe-block {
    padding-right: 0;
  }
  .footer .foot-sec > .copyright .sec1 {
    width: 100%;
  }
  .footer .foot-sec > .copyright .sec2 {
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 575px) {
  .banner .content {
    bottom: 40px;
  }
  .banner .content .headings h1 {
    line-height: 1.25rem;
    font-size: 1.375rem;
    padding: 5px;
  }
  .banner .content .headings h2 {
    margin: 5px 0 10px;
    font-size: 1.125rem;
    padding: 5px;
  }
  .banner .content .more-btn {
    font-size: .75rem;
    padding: 5px;
  }
  .banner #scrollspy {
    margin-top: -25px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .banner #scrollspy .arrow {
    background-color: #1B7642;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #fff;
  }
  .banner #scrollspy .arrow .fa-solid {
    font-size: 1.25rem;
  }
  .manage-dev {
    padding: 20px 0;
  }
  .manage-dev .bg-txt .head {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .manage-dev .bg-txt .head h2 {
    font-size: 1.25rem;
  }
  .manage-dev .bg-txt .head h1 {
    font-size: 2.825rem;
  }
  .manage-dev .category {
    padding-top: 40px;
  }
  .manage-dev .category .hydro {
    width: 48%;
    margin-bottom: 20px;
  }
  .manage-dev .category .hydro img {
    width: 30%;
  }
  .manage-dev .category .hydro h4 {
    font-size: .8rem;
    line-height: 1rem;
  }
  .abt-VIDC {
    width: 100%;
    margin-bottom: 10px;
    min-height: 650px;
  }
  .abt-VIDC .bg-sec img {
    width: 100%;
    height: 30%;
  }
  .abt-VIDC .bg-sec .box {
    width: 100%;
    background-color: #3F3531;
    height: 70%;
  }
  .abt-VIDC .VIDC-info .video figure {
    width: 100%;
    text-align: center;
  }
  .abt-VIDC .VIDC-info .video figure img {
    width: 90%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption .fa-play {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .abt-VIDC .VIDC-info .video .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
    width: 90%;
  }
  .abt-VIDC .VIDC-info .video .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1rem;
  }
  .abt-VIDC .VIDC-info .video .modal .videoDisplay {
    width: 100%;
    height: 200px;
  }
  .abt-VIDC .VIDC-info .abt-info h3 {
    font-size: 1.25rem;
    margin: 10px  0;
  }
  .abt-VIDC .VIDC-info .abt-info p {
    margin-bottom: 10px;
  }
  .abt-VIDC .VIDC-info .abt-info .more-btn {
    font-size: .75rem;
    padding: 8px;
  }
  .footer .foot-sec h5 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .footer .foot-sec .subscribe-block form input {
    font-size: .875rem;
    padding: 0px 0;
    width: 60%;
  }
  .footer .foot-sec .subscribe-block form input::-webkit-input-placeholder {
    font-size: .75rem;
  }
  .footer .foot-sec .subscribe-block form input:-ms-input-placeholder {
    font-size: .75rem;
  }
  .footer .foot-sec .subscribe-block form input::-ms-input-placeholder {
    font-size: .75rem;
  }
  .footer .foot-sec .subscribe-block form input::placeholder {
    font-size: .75rem;
  }
  .footer .foot-sec .subscribe-block form .sub-btn {
    width: 35%;
    font-size: .75rem;
    padding: 9px 0px;
  }
  .footer .foot-sec .subscribe-block .link-sec {
    padding-bottom: 10px;
  }
  .footer .foot-sec .subscribe-block .link-sec .sec {
    width: 48%;
    margin-bottom: 10px;
  }
  .footer .foot-sec .contact-block .block div {
    margin-left: 15px;
    line-height: 25px;
  }
  .footer .foot-sec .contact-block .block > h5 {
    padding-right: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .header .nav-content #menu-btn {
    background-color: #44AF72;
    color: #feea00;
    font-size: 1.25rem;
    padding: 5px 10px;
    -ms-flex-item-align: center;
        align-self: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    margin-left: auto;
  }
  .header .nav-content .logo {
    width: 70%;
  }
  .header .nav-content .navbar {
    top: 70px;
  }
  .header .nav-content .navbar ul li {
    display: block;
    margin: 0 0 10px 0;
    border-right: none;
  }
  .header .nav-content .navbar ul li a {
    color: #fff;
  }
  .header .nav-content .navbar .nav-top {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .nav-content .navbar .nav-bot {
    width: 50%;
  }
  .header .nav-content .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .header .nav-content .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
    width: 100%;
  }
  .header .nav-content .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    width: 100%;
  }
  .header .nav-content .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .header .nav-content .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .header .nav-content .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .header .nav-content .modal-content .head .heading {
    font-size: .875rem;
  }
  .header .nav-content .modal-content .head .dismis {
    font-size: .875rem;
  }
  .header .nav-content .modal-content .form {
    width: 100%;
    gap: 15px;
  }
  .header .nav-content .modal-content .form #search-input {
    width: 100%;
    height: 50px;
    padding: 10px 40px 10px 20px;
  }
  .header .nav-content .modal-content .form #search-btn {
    background-color: transparent;
    padding: 10px;
    border: none;
    top: 8px;
    color: #000;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .banner .content {
    bottom: 20px;
  }
  .banner .content .headings h1 {
    line-height: 1rem;
    font-size: 1.125rem;
  }
  .banner .content .headings h2 {
    margin: 5px 0 10px;
    font-size: .875rem;
  }
  .banner .content .more-btn {
    padding: 3px;
    font-size: .7rem;
  }
  .banner #scrollspy {
    margin-top: -25px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .banner #scrollspy .arrow {
    background-color: #1B7642;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #fff;
  }
  .banner #scrollspy .arrow .fa-solid {
    font-size: 1rem;
  }
  .manage-dev {
    padding: 20px 0;
  }
  .manage-dev .bg-txt .head {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .manage-dev .bg-txt .head h2 {
    font-size: 1rem;
  }
  .manage-dev .bg-txt .head h1 {
    font-size: 2.5rem;
  }
  .manage-dev .category .hydro {
    width: 49%;
  }
  .manage-dev .category .hydro img {
    width: 25%;
  }
  .abt-VIDC .VIDC-info {
    padding: 15px 3px;
  }
  .abt-VIDC .VIDC-info .video {
    padding-top: 25px;
  }
  .abt-VIDC .VIDC-info .video figure {
    width: 100%;
    text-align: center;
  }
  .abt-VIDC .VIDC-info .video figure img {
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption {
    top: 35%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption .fa-play {
    font-size: 1rem;
    padding: 12px;
  }
  .abt-VIDC .VIDC-info .video .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .abt-VIDC .VIDC-info .video .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1rem;
  }
  .abt-VIDC .VIDC-info .video .modal .videoDisplay {
    width: 100%;
    height: 150px;
  }
  .abt-VIDC .VIDC-info .abt-info {
    margin-top: 10px;
  }
  .abt-VIDC .VIDC-info .abt-info h3 {
    font-size: 1.25rem;
    margin: 10px  0;
  }
  .abt-VIDC .VIDC-info .abt-info p {
    margin-bottom: 10px;
    font-size: .875rem;
  }
  .abt-VIDC .VIDC-info .abt-info .more-btn {
    font-size: .75rem;
    padding: 8px;
  }
  .footer .foot-sec .subscribe-block form input {
    font-size: .875rem;
    padding: 0px 0;
    width: 59%;
  }
  .footer .foot-sec .subscribe-block form .sub-btn {
    width: 38%;
    font-size: .7rem;
    padding: 9px 0px;
  }
}

@media screen and (max-width: 374px) {
  .abt-VIDC .VIDC-info {
    padding: 15px 3px;
  }
  .abt-VIDC .VIDC-info .video {
    padding-top: 30px;
  }
  .abt-VIDC .VIDC-info .video figure {
    width: 100%;
    text-align: center;
  }
  .abt-VIDC .VIDC-info .video figure figcaption {
    top: 35%;
  }
  .abt-VIDC .VIDC-info .video figure figcaption .fa-play {
    font-size: 1rem;
    padding: 12px;
  }
  .abt-VIDC .VIDC-info .video .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1072;
    padding: 20px;
    display: none;
  }
  .abt-VIDC .VIDC-info .video .modal-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -3rem auto 0;
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video .modal-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    width: 100%;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: 1.25rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .heading {
    font-size: .875rem;
  }
  .abt-VIDC .VIDC-info .video .modal-content .head .dismis {
    font-size: .875rem;
  }
  .abt-VIDC .VIDC-info .video .modal .videoDisplay {
    width: 100%;
    height: 150px;
  }
  .abt-VIDC .VIDC-info .abt-info h3 {
    font-size: 1.25rem;
    margin: 10px  0;
  }
  .abt-VIDC .VIDC-info .abt-info p {
    margin-bottom: 10px;
    font-size: .875rem;
  }
  .abt-VIDC .VIDC-info .abt-info .more-btn {
    font-size: .75rem;
    padding: 8px;
  }
}
/*# sourceMappingURL=style.css.map */